@mixin -treesaver-grid-hide {
  min-width: 9001px;
  width: 9001px;
}

// XXX slightly magical, do not change
@mixin -treesaver-grid-base {
  .grid {
    top: 50%;
    z-index: 1;
  }
}

//
// Ensure mobile grids cannot be used by mistake on big screens, and that
// small-screen mobile devices can only used grids marked for mobiles.
// Note that you still have to add size-specific classes to specify grid sizes.
//
@mixin -treesaver-grid-support-smallscreen-mobile {
  .grid.mobile {
    @include -treesaver-grid-hide;
  }

  .smallscreen.mobile .grid {
    @include -treesaver-grid-hide;

    &.mobile {
      width: $treesaver-grid-smallscreen-width;
      min-width: $treesaver-grid-smallscreen-width;
    }
  }
}

//
// A fixed grid has exact sizes and has no padding.
// You will need to specify the size with other classes.
//
// FIXME .fixed vs .full vs other?
//
@mixin -treesaver-grid-fixed {
  .grid.fixed {
    max-width: none;
    max-height: none;
    min-width: none;
    min-height: none;
    padding: 0;
  }
}
