//
// Basic styling for the whole "site"; they are pretty much mandatory.
//
@mixin -treesaver-basic-setup {
  .treesaver {
    body {
      overflow: hidden;
    }
  }

  .chrome, .viewer, .grid, .column, .container {
    position: absolute;
    overflow: hidden;
    line-height: $treesaver-line-height;
  }

  div, p, button {
    line-height: $treesaver-line-height;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: $treesaver-line-height;
  }

  .hidden, .microdata {
    display: none !important;
  }
}

// XXX is this really generic?
@mixin -treesaver-basic-setup-group {
  .group {
    top: 0;
    bottom: 0;
    padding: 0;
    position: absolute;
  }
}

//
// Basic styling for the error and loading floats.
// This may be stretching our goal of "structure, not presentation", but
// without them the loader would be just too damn ugly.
//
// XXX replace magic values
//
@mixin -treesaver-basic-error-and-loading {
  .error, .loading {
    position: absolute;
    width: 160px;
    height: 100px;
    letter-spacing: 2px;
    margin: 0 0 0 20px;
    img {
      display: inline;
    }
  }
}
