/*
 * Layout module:
 *
 * NOTE: these macros are experimental, they may change or be removed in a future
 * release. The mix of "full" and "half" widths is also very confusing.
 */

@import "curry/layout/base";

/*
 * Sets up a set of classes that can be applied to columns and containers to
 * determine their width and position.
 */
@mixin curry-layout-setup($width, $margin, $steps) {
  .grid {
    width: $width;
  }

  .column, .container {
    width: $width;
    top: 0;
    bottom: 0;
  }

  @include -curry-layout-column-widths($steps, $width, $margin);
  @include -curry-layout-columns($steps, $width, $margin);
}
