@import "compass/reset/utilities";

html, body, h1, h2, h3, h4, h5, h6 {
  @include reset-box-model;
}

p {
  margin: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

sup, sub {
  line-height: 0;
}

blockquote * {
  display: inline;
}
