//
// Basic module
//

$treesaver-line-height: 24px !default;            // Vertical grid

//
// Chrome module
//

$treesaver-chrome-maximum-smallscreen-width: 480px !default; // Any device wider
  // than this will use "normal" grids, anything smaller will use "small" chromes.

//
// Grid module
//
$treesaver-grid-smallscreen-width: 300px !default;
